__pycache__/
/.quarto/
/docs/.quarto/
/docs/_freeze/
/_freeze/
/.vscode/
/.ipynb_checkpoints/
zzz_local/
feature-catalog/
remote-artifacts/
README_files/libs/
tmp-store/
mlruns/
docs/**/*.ipynb
docs/production/07_feature_store_files/
docs/production/feature-store-demo/
docs/production/feature-catalog/
docs/production/remote-artifacts/
docs/production/tmp-store/
docs/production/mlruns/
