__pycache__/
/.quarto/
/docs/.quarto/
/docs/_freeze/
/_freeze/
/.vscode/
/.ipynb_checkpoints/
zzz_local/
feature-catalog/
remote-artifacts/
tmp-store/
mlruns/
docs/**/*.ipynb
docs/guides/07_feature_store_files/
docs/guides/feature-store-demo/
docs/guides/feature-catalog/
docs/guides/remote-artifacts/
docs/guides/tmp-store/
docs/guides/mlruns/
