name: polars-checks

on:
  schedule:
    - cron: '0 0 1 * *'
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        config:
          # - { os: ubuntu-latest, python-version: '3.9', polars-version: '0.19.10' }
          - { os: ubuntu-latest, python-version: '3.9', polars-version: '1.2.0' }
          - { os: ubuntu-latest, python-version: '3.9', polars-version: 'latest' }

    defaults:
      run:
        shell: bash

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.python-version }}) - polars ${{ matrix.config.polars-version }}

    steps:
      - name: Set up Python Version
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.config.python-version }}

      - name: Check-out repository
        uses: actions/checkout@v4

      - name: Install nox
        run: |
          python -m pip install --upgrade pip
          python -m pip install nox

      - name: Test with pytest via nox
        run: nox -s tests_polars -- --polars-version ${{ matrix.config.polars-version }} --verbose
